<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Register</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent">
        <div class="container">
            <h1 class="tt-title-subpages noborder">ALREADY REGISTERED?</h1>
            <div class="tt-login-form">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="tt-item">
                            <h2 class="tt-title">NEW CUSTOMER</h2>
                            <p>
                                By creating an account with our store, you will be able to move through the checkout
                                process faster, store multiple shipping addresses, view and track your orders in your
                                account and more.
                            </p>
                            <div class="form-group">
                                <a href="/user/Signup" class="btn btn-top btn-border">CREATE AN ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="tt-item">
                            <h2 class="tt-title">LOGIN</h2>
                            If you have an account with us, please log in.
                            <div class="form-default form-top">

                                {{#if hasErrors}}
                                <div class="alert alert-danger">
                                    {{# each messages}}
                                    <p>
                                        {{this}}
                                    </p>
                                    {{/each}}
                                </div>
                                {{/if}}
                                <form action="/user/signin" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control"
                                            placeholder="Enter Password">
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <button type="submit" class="btn btn-primary"> Signin</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>